<h1><%= @title %></h1>

<p>
  Environment: <%= @log.environment %><br>
  File: <code><%= @log.path %></code><br>
  <span class="log-status" data-status-url="<%= @status_path %>" data-current-count="<%= @entries.total_count %>">
    <span class="new-log-lines-indicator" style="display: none;"></span>
  </span>
</p>

<% if @log.exists? %>
  <%= table_for(@entries) do |t| %>
    <% t.column("Line", th: { style: "width: 120px;" }) do |entry| %>
      <%= entry.line_number %>
    <% end %>
    <% t.column("Message") do |entry| %>
      <%= render_log_entry(@log, entry.text) %>
    <% end %>
  <% end %>

  <%= numbered_paginator(@entries) if @entries.total_count > 0 %>
<% else %>
  <p>The log file could not be found.</p>
<% end %>

<%= render(partial: "moderator/dashboards/secondary_links") %>

<% content_for(:page_title) do %>
  <%= @title %>
<% end %>
