<%= form_for(@config, url: admin_config_path, method: :patch) do %>
  <table class="autofit striped">
    <% DynamicConfig.categories.each do |name| %>
      <% fields = DynamicConfig.fields.select { |f| f.category == name } %>
      <% bypass = fields.any?(&:bypass?) %>
      <thead>
      <tr>
        <th colspan="3" class="section-header">Action Limits</th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Value</th>
        <th>
          <% if bypass %>Bypass<% end %>
        </th>
      </tr>
      </thead>
      <tbody>
      <% fields.each do |field| %>
        <% begin %>
          <% case field[:type] %>
          <% when :number %>
            <%= number_config_field(@config, field.attribute, name: field.name, bypass: field.bypass?, disabled: field.disabled?, hint: field.hint, input_options: field.input_options) %>
          <% when :boolean %>
            <%= boolean_config_field(@config, field.attribute, name: field.name, bypass: field.bypass?, disabled: field.disabled?, hint: field.hint, input_options: field.input_options) %>
          <% when :text %>
            <% if field.large? %>
              <%= large_text_config_field(@config, field.attribute, name: field.name, bypass: field.bypass?, disabled: field.disabled?, hint: field.hint, input_options: field.input_options) %>
            <% else %>
              <%= text_config_field(@config, field.attribute, name: field.name, bypass: field.bypass?, disabled: field.disabled?, hint: field.hint, input_options: field.input_options) %>
            <% end %>
          <% when :user %>
            <%= user_config_field(@config, field.attribute, name: field.name, disabled: field.disabled?, hint: field.hint, input_options: field.input_options, minimum: field.minimum, maximum: field.maximum) %>
          <% when :per_level %>
            <%= per_level_config_field(@config, field.attribute, name: field.name, disabled: field.disabled?, hint: field.hint, minimum: field.minimum, maximum: field.maximum) %>
          <% when :object %>
            <%= object_config_field(@config, field.attribute, name: field.name, disabled: field.disabled?, hint: field.hint, keys: field.keys) %>
          <% when :select %>
            <% options = field.options %>
            <% options = instance_exec(&options) if options.is_a?(Proc) %>
            <%= select_config_field(@config, field.attribute, options, name: field.name, disabled: field.disabled?, hint: field.hint, input_options: field.input_options) %>
          <% else %>
            Unsure how to render <%= field.attribute rescue "unknown" %>: <%= field.inspect %>
        <% end %>
        <% rescue => e %>
          Failed to render <%== field.attribute rescue "unknown" %>: <%= e.inspect %>
        <% end %>
      <% end %>
      <tr>
        <td colspan="3" class="submit-button">
          <%= submit_tag %>
        </td>
      </tr>
      </tbody>
    <% end %>
    <thead>
    <tr>
      <th colspan="3" class="section-header">Action Limits</th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th>Bypass</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td colspan="3" class="submit-button">
        <%= submit_tag %>
      </td>
    </tr>
    </tbody>
  </table>
<% end %>

<% content_for(:page_title) do %>
  Config
<% end %>
